*{
margin:0;
padding:0;
}
.header
{
    height: 100px;
}
.navbar-style
{
    box-shadow: 0 5px 10px;
}
.img
{
    height:65px;
    padding: 2px 10px;
}
.div1
{
    width: 300px;
    height: 300px;
    padding: 50px;
    border: 1px solid blue;
    box-sizing:content-box;
}
.card-title{
    text-decoration-style :solid;
    color:darkblue;
}
div2{
    margin:5px;
    padding:5px;
}
.container{
    align-content
}